 .space-xs {
     margin: var(--lumo-space-xs);
     padding: var(--lumo-space-xs);
}
 .space-s {
     margin: var(--lumo-space-s);
     padding: var(--lumo-space-s);
}
 .space-m {
     margin: var(--lumo-space-m);
     padding: var(--lumo-space-m);
}
 .space-l {
     margin: var(--lumo-space-l);
     padding: var(--lumo-space-l);
}
 .space-xl {
     margin: var(--lumo-space-xl);
     padding: var(--lumo-space-xl);
}