.text-contrast-5pct {
  color: var(--lumo-contrast-5pct);
}

.text-contrast-10pct {
  color: var(--lumo-contrast-10pct);
}

.text-contrast-20pct {
  color: var(--lumo-contrast-20pct);
}

.text-contrast-30pct {
  color: var(--lumo-contrast-30pct);
}

.text-contrast-40pct {
  color: var(--lumo-contrast-40pct);
}

.text-contrast-50pct {
  color: var(--lumo-contrast-50pct);
}

.text-contrast-60pct {
  color: var(--lumo-contrast-60pct);
}

.text-contrast-70pct {
  color: var(--lumo-contrast-70pct);
}

.text-contrast-80pct {
  color: var(--lumo-contrast-80pct);
}

.text-contrast-90pct {
  color: var(--lumo-contrast-90pct);
}

.text-contrast {
  color: var(--lumo-contrast);
}