.text-primary-color-10pct {
  color: var(--lumo-primary-color-10pct);
}

.text-primary-color-50pct {
  color: var(--lumo-primary-color-50pct);
}

.text-primary-color {
  color: var(--lumo-primary-color);
}

.text-primary-contrast-color {
  color: var(--lumo-primary-contrast-color);
}